@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 272 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 272 25% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 272 25% 20%;
    --primary: 272 100% 25%;
    --primary-foreground: 240 67% 97%;
    --secondary: 240 30% 90%;
    --secondary-foreground: 272 100% 25%;
    --muted: 240 20% 88%;
    --muted-foreground: 272 15% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 272 25% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 85%;
    --input: 240 20% 85%;
    --ring: 272 100% 25%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 272 25% 15%;
    --foreground: 240 67% 94%;
    --card: 272 25% 18%;
    --card-foreground: 240 67% 94%;
    --popover: 272 25% 18%;
    --popover-foreground: 240 67% 94%;
    --primary: 272 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 272 20% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 272 20% 25%;
    --muted-foreground: 240 15% 60%;
    --accent: 51 100% 50%;
    --accent-foreground: 272 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 272 20% 25%;
    --input: 272 20% 25%;
    --ring: 272 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
